Source: binutils-rtems4.9
Section: devel
Priority: extra
Maintainer: Michael Davidsaver <mdavidsaver@bnl.gov>
Build-Depends: debhelper (>= 7), autotools-dev
Standards-Version: 3.8.0
Homepage: http://www.gnu.org/software/binutils/

Package: binutils-powerpc-rtems4.9
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Binutil for RTEMS powerpc targets
 Cross tools (as, ld, ...) for PowerPC and is intended for
 the RTEMS realtime operating system..
