Source: binutils-rtems4.11
Section: devel
Priority: extra
Maintainer: Michael Davidsaver <mdavidsaver@bnl.gov>
Build-Depends: debhelper (>= 7), autotools-dev, texinfo
Standards-Version: 3.8.0
Homepage: http://www.gnu.org/software/binutils/

Package: binutils-i386-rtems4.11
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Binutil for RTEMS i386 targets
 Cross assembler and linker for i386 and is intended for
 the RTEMS realtime operating system.

Package: binutils-arm-rtems4.11
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Binutil for RTEMS arm targets
 Cross assembler and linker for arm and is intended for
 the RTEMS realtime operating system.

Package: binutils-powerpc-rtems4.11
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Binutil for RTEMS powerpc targets
 Cross assembler and linker for powerpc and is intended for
 the RTEMS realtime operating system.

Package: binutils-m68k-rtems4.11
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Binutil for RTEMS m68k targets
 Cross assembler and linker for m68k and is intended for
 the RTEMS realtime operating system.

